
.KoAfol{
    overflow:hidden;
    position:relative
}
.KoAfol>img{
    position:absolute;
    object-fit:cover;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:0
}
.KoAfol>img,.tYQ4dP{
    width:100%;
    height:100%
}
.tYQ4dP{
    
    z-index:1;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    box-sizing:border-box
}
._5xBc0C{
    justify-content:center;
    padding:100px 0;
    margin:100px 0
}
._5xBc0C h2{
    margin:0;
    letter-spacing:15px
}
.hyzNDe{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(0,0,0,.6)
}
.Kt76mf{
    object-position:top
}
.keh_Rs{
    background-color:#20242c;
    display:inline-block;
    padding:14px 24px;
    border-radius:8px;
    text-transform:uppercase;
    cursor:pointer;
    transition:all .3s;
    color:#fff
}
.keh_Rs:hover{
    background-color:#262743
}
.P_4Go3{
    background:linear-gradient(hsla(0,0%,100%,.29),transparent);
    border:1px solid #cfcfcf;
    -webkit-backdrop-filter:blur(2px);
    backdrop-filter:blur(2px);
    color:#cfcfcf;transition:all .3s
}
.P_4Go3:hover{background-color:rgba(27,27,27,.322);
    border:1px solid #666
}.Fi_hpN{
    border:1px solid #eaeaea
}
.wQUaYj{position:relative;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.wQUaYj .ErMs6U img{width:100%;height:auto}
.NKh7Nc{position:absolute;cursor:pointer;top:0;left:0;opacity:.3;width:80px;bottom:0;display:flex;align-items:center;justify-content:center;transition:all .3s;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.NKh7Nc:hover{opacity:1}
.YM7hza{background:linear-gradient(90deg,rgba(0,0,0,.8),transparent)}
.YM7hza:hover{background:linear-gradient(90deg,#000,transparent)}
.cDyDjQ{position:absolute;-webkit-user-select:none;-moz-user-select:none;user-select:none;cursor:pointer;top:0;opacity:.3;right:0;width:80px;bottom:0;display:flex;align-items:center;justify-content:center;transition:all .3s}
.cDyDjQ:hover{opacity:1}
.eBZmcg{background:linear-gradient(270deg,rgba(0,0,0,.8),transparent)}
.eBZmcg:hover{background:linear-gradient(270deg,#000,transparent)}
.rk347Z{display:grid;grid-gap:8px;gap:8px}
.D6nl6z{grid-template-columns:auto auto auto}
.AHAFQn{grid-template-columns:auto auto auto auto}
.H8uMRe{grid-template-columns:auto auto auto auto auto}
._1Rfj8H{grid-template-columns:auto auto auto auto auto auto}
.zXBoYT{flex-basis:25%}
.zXBoYT img{filter:brightness(.5);max-width:100%;height:auto;display:block;cursor:pointer;transition:all .3s}
.IvMxfA img,.zXBoYT img:hover{filter:brightness(1)}
.RfnKDB img{aspect-ratio:16/9;object-fit:contain}
._8rrb_s img{aspect-ratio:9/14;object-fit:cover}
.a_5XJx{height:100%;overflow:hidden;position:relative;width:100%}
.MCjQIs,.a_5XJx video,.a_5XJx>img{position:absolute;left:0;right:0;display:block;top:0;object-fit:cover;bottom:0;width:100%;height:100%}
.MCjQIs{background:linear-gradient(180deg,transparent 0,rgba(0,0,0,.15) 80%,#101010);z-index:1}
.Eo8sYy{position:absolute;left:0;right:0;top:0;bottom:0;z-index:3;display:flex;align-items:center;flex-direction:column;justify-content:center}
.Eo8sYy h1{text-align:center;font-weight:900;font-size:3rem;line-height:3.5rem}
.bYmYRV{position:absolute;z-index:3;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;height:100%;background-color:rgba(0,0,0,.3);display:flex;align-items:center}
.bYmYRV h1{font-weight:900;font-size:3rem;line-height:3.2rem}
.bYmYRV p{font-size:1.6rem;line-height:2.4rem;font-weight:500;color:hsla(0,0%,100%,.9);width:80%}
.CGI3Is{height:calc(100vh - 74px)}
@media(min-width:992px){
    .bYmYRV h1{
        font-size:4rem;
        line-height:4.5rem
    }
}
@media(min-width:1400px){
    .bYmYRV h1{
        font-size:5.5rem;
        line-height:5.5rem
    }
}
@media(min-width:992px){
    .Eo8sYy h1{
        font-size:4rem;
        line-height:4.5rem
    }
}
@media(min-width:1400px){
    .Eo8sYy h1{
        font-size:5rem;
        line-height:5.5rem
    }
}
@media (max-width:768px){
    .OLIE99{
      padding:7px 12px
    }
  }
  @media(min-width:992px){
    ._2p9iMF{
      display:flex;
      align-items:center;
      gap:20px
    }
    ._2p9iMF>div{
      width:50%
    }
  }
@media(max-width:1400px){
    .bYmYRV p{
        font-size:1.4rem;
        line-height:1.7rem
    }
}
@media(max-width:768px){
    .bYmYRV p{
        font-size:1.2rem;
        line-height:1.4rem;
        width:100%
    }
}
@media(max-width:576px){
    .bYmYRV p{
        font-size:1rem;
        line-height:1.3rem
    }
}
@media(max-width:992px){
    .CGI3Is{
        height:calc(80vh - 74px)
    }
}
@media(min-width:992px){
    .p05Yf2 h1{
        font-size:4rem;
        line-height:4.5rem
    }
}
@media(min-width:1400px){
    .p05Yf2 h1{
        font-size:5rem;
        line-height:5.5rem
    }
}
@media(min-width:992px){.p05Yf2 h2{font-size:3rem;line-height:3.5rem}}
@media(min-width:1400px){.p05Yf2 h2{font-size:4rem;line-height:4.5rem}}
@media(min-width:992px){.p05Yf2 h3{font-size:2.5rem;line-height:3rem}}
@media(min-width:1400px){.p05Yf2 h3{font-size:3rem;line-height:3.5rem}}
@media(max-width:992px){.llcS3h{text-align:center}}
@media(max-width:992px){.JHyfy2{text-align:center}}
@media(min-width:992px){.JHyfy2 img{width:90%}}
@media(min-width:1200px){.JHyfy2 img{width:80%}}
@media(min-width:1400px){.JHyfy2 img{width:70%}}
@media(min-width:768px){._5xBc0C h2{letter-spacing:35px}}
@media(max-width:768px){.P7LAzY{font-size:1.6rem!important}}
@media(min-width:1921px){.GmEpVX{max-width:1720px}}
@media(max-width:992px){.OGuxzD button{font-size:10px;padding:.4rem .5rem;border-radius:4px}}
.p05Yf2 h1,.p05Yf2 h2,.p05Yf2 h3,.p05Yf2 h4,.p05Yf2 h5{text-align:center}
.p05Yf2 h1{font-size:3rem;line-height:3.5rem;margin:0;font-weight:900}
.p05Yf2 h2{font-size:2rem;line-height:2.5rem;margin:0 0 50px}
.p05Yf2 h3{font-size:2rem;line-height:2.5rem;margin:0 0 50px}
.p05Yf2 h4,.p05Yf2 h5{font-size:1.5rem;line-height:2rem}
.p05Yf2 h5{margin:0}.p05Yf2 ul{padding:0;list-style-type:none}
.p05Yf2 ul li:nth-of-type(n){color:#8c8c8c}
.p05Yf2 ul li:nth-of-type(2n){color:#0087ff}
.D4_gao{overflow:hidden}
.cKuDlP{text-align:center}
.JHyfy2{text-align:right}
.JHyfy2 img{width:80%;height:auto}
.TndBHT{color:#0087ff}
.ctT6Vw{height:2px;background:linear-gradient(90deg,transparent 30%,#0087ff 50%,transparent 70%)}
.hTCRm7{text-align:center;color:#0087ff;font-size:1.6rem;font-weight:600}
.IBUAVH{width:100%;height:auto}.P7LAzY{font-size:2.4rem!important}
.PFT1mG{text-align:center;color:#0087ff;font-size:2rem;font-weight:600;margin-top:0}
.OGuxzD{display:grid;grid-gap:20px;gap:20px;grid-template-columns:auto auto auto}
.OGuxzD.nvoZrH{grid-template-columns:auto auto}
.OGuxzD button{border:1px solid #fff;width:100%;color:#fff;outline:none;opacity:60%;border-radius:8px;background-color:transparent;font-size:20px;padding:1rem 2rem;cursor:pointer;transition:opacity .3s}
.OGuxzD button:hover{opacity:100%}
.OGuxzD button._6WN0Mc{color:#0087ff;border:1px solid #0087ff;opacity:100%}




<img 
    src="/assets/images/Character_Art_master.png" 
    alt="Character Art" 
    loading="lazy" 
    width="2967" 
    height="750" 
    style="color:transparent;height:100%;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;" 
    decoding="async" />

<img 
alt="asset img" loading="lazy" width="2967" height="750" decoding="async" data-nimg="1" style="color:transparent;height:100%;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;background-image:url(&quot;data:image/svg+xml;charset=utf-8,%3Csvg xmlns=&#x27;http%3A//www.w3.org/2000/svg&#x27; viewBox=&#x27;0 0 8 2&#x27;%3E%3Cfilter id=&#x27;b&#x27; color-interpolation-filters=&#x27;sRGB&#x27;%3E%3CfeGaussianBlur stdDeviation=&#x27;1&#x27;/%3E%3C/filter%3E%3Cimage preserveAspectRatio=&#x27;none&#x27; filter=&#x27;url(%23b)&#x27; x=&#x27;0&#x27; y=&#x27;0&#x27; height=&#x27;100%25&#x27; width=&#x27;100%25&#x27; href=&#x27;data:image/webp;base64,UklGRjwAAABXRUJQVlA4IDAAAACwAQCdASoIAAIAAkA4JYwCdAD0gbJgAP732hul0VzD+rNL2vC0BfPctFIctQV9AAA=&#x27;/%3E%3C/svg%3E&quot;)" srcSet="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbanner-assets.7009e0e5.webp&amp;w=3840&amp;q=100 1x" src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbanner-assets.7009e0e5.webp&amp;w=3840&amp;q=100"/>
